<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hệ Thống Bán Áo 5Ting</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">

    <link rel="stylesheet" href="~/assets/vendors/iconly/bold.css">
    <!-- Include Choices CSS -->
    <link rel="stylesheet" href="~/assets/vendors/choices.js/choices.min.css" />

    <link rel="stylesheet" href="~/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/assets/css/app.css">
    <link rel="shortcut icon" href="~/assets/images/favicon.svg" type="image/x-icon">

    @RenderSection("Scripts", required: false)
</head>
<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index"><img src="~/assets/images/logo/logo.png" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>
                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>Sản Phẩm</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a asp-area="" asp-controller="Product" asp-action="ListProduct" class="nav-link">
                                        <p>Sản Phẩm</p>
                                    </a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-area="" asp-controller="Product" asp-action="ListBrand" class="nav-link">
                                        <p>Thương Hiệu</p>
                                    </a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-area="" asp-controller="Product" asp-action="ListProductType" class="nav-link">
                                        <p>Loại Áo</p>
                                    </a>
                                </li>
                                 <li class="submenu-item ">
                                    <a asp-area="" asp-controller="Product" asp-action="ListManufacturer" class="nav-link">
                                        <p>Nơi Sản Xuất</p>
                                    </a>
                                </li>
                                 <li class="submenu-item ">
                                    <a asp-area="" asp-controller="Product" asp-action="ListMaterial" class="nav-link">
                                        <p>Vật Liệu Áo</p>
                                    </a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-area="" asp-controller="Product" asp-action="LisColor" class="nav-link">
                                        <p>Màu</p>
                                    </a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-area="" asp-controller="Product" asp-action="ListSize" class="nav-link">
                                        <p>Size</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-collection-fill"></i>
                                <span>Người Dùng</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="@Url.Action("Index", "Admin")">Khách Hàng</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="extra-component-sweetalert.html">Nhân Viên</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <!-- Main Footer -->
        <footer>

        </footer>
    </div>
    <script src="~/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>

    <script src="~/assets/vendors/apexcharts/apexcharts.js"></script>
    <script src="~/assets/js/pages/dashboard.js"></script>
    <script src="~/assets/vendors/choices.js/choices.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>
</html>
