
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
}

<h1>Index</h1>

@* <section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="img/hero/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Thời trang nam 5Ting</h6>
                            <p>Thương hiệu tạo ra những sản phẩm thiết yếu sang trọng. Cam kết vững chắc về chất lượng vượt trội.</p>
                            <a href="Home/Shop" class="primary-btn">Mua sắm ngay <span class="arrow_right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="img/hero/hero-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Thời trang nam 5Ting</h6>
                            <p>Thương hiệu tạo ra những sản phẩm thiết yếu sang trọng. Cam kết vững chắc về chất lượng vượt trội.</p>
                            <a href="Home/Shop" class="primary-btn">Mua sắm ngay <span class="arrow_right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 *@