html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 7d87bdbcd9513bf2c87c9f7a5e74ecbd3b57e5c3
