@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body mx-4">
        <div class="container">
            <p class="my-5 mx-5" style="font-size: 30px;">Thank you for your purchase!</p>
            <div class="row">
                <ul class="list-unstyled">
                    <li class="text-black"><strong>Username:</strong> @Model.UserName</li>

                    <li class="text-black mt-1"><strong>Date:</strong> </li>
                </ul>
                <hr>
           
                    <div class="row">
                        <div class="col-md-2 col-lg-2 col-xl-2">
                           
                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-4">
                            <p class="float-end">
                            <p>Tên sản phẩm</p>
                         
                        </div>
                  
                        <div class="col-xl-2">
                         
                            <p class="float-end">
                            <p>Đơn giá</p>
                            
                            </p>
                        </div>
                        <div class="col-xl-2">
                            <p class="float-end">
                            <p>Số lượng</p>
                              
                        </div>
                        <hr>
                    </div>
                
                <div class="row text-black">
                    <div class="col-xl-12">
                        <p class="float-end fw-bold">
                           
                        </p>
                    </div>
                    <hr style="border: 2px solid black;">
                </div>

                <div class="row text-black">
                    <form method="post" asp-action="ConfirmPurchase">
                        <input type="hidden" name="orderId" value="@Model.OrderId" />
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="paymentMethod" id="prepaid" value="Prepaid">
                            <label class="form-check-label" for="prepaid">
                             
                            </label>
                        </div>
                       
                        <div class="text-center" style="margin-top: 20px;">
                            <button type="submit" class="btn btn-primary" name="paymentMethod" value="Prepaid">Thanh toán trước</button>
                            <button type="submit" class="btn btn-secondary" name="paymentMethod" value="Delivery">Thanh toán khi nhận hàng</button>
                            <button class="btn btn-danger" asp-action="CartIndex">Quay lại giỏ hàng</button>
                     
                        </div>

                    </form>

                <div class="text-center" style="margin-top: 90px;">
                    <a href="#" class="text-info"><u>View in browser</u></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                </div>
            </div>
        </div>
    </div>
</div>
