@{
    ViewData["Title"] = "Login";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- Material Design Icons -->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">

    <!-- Animation CSS -->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">

    <!-- Hamburger CSS -->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">

    <!-- Animsition CSS -->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">

    <!-- Select2 CSS -->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">

    <!-- Daterangepicker CSS -->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">

    <!-- Custom Utility and Main CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
</head>

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" action="@Url.Action("UserCreate", "Home")" method="post">
                    <span class="login100-form-title p-b-26">
                        Welcome
                    </span>
                    <span class="login100-form-title p-b-48">
                        <i class="zmdi zmdi-font"></i>
                    </span>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="text" name="Username" required>
                        <span class="focus-input100" data-placeholder="Username"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="text" name="SDT" required>
                        <span class="focus-input100" data-placeholder="SDT"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="text" name="DiaChi" required>
                        <span class="focus-input100" data-placeholder="DiaChi"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="email" name="Email" required>
                        <span class="focus-input100" data-placeholder="Email"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="date" name="NgaySinh" required>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye"></i>
                        </span>
                        <input class="input100" type="password" name="Password" required>
                        <span class="focus-input100" data-placeholder=" Password"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" type="submit">
                                Sign Up
                            </button>
                        </div>
                    </div>

                    @if (ViewBag.ErrorMessage != null)
                    {
                        <p style="color: red;">@ViewBag.ErrorMessage</p>
                    }

                    <div class="text-center p-t-115">
                        <span class="txt1">
                            Already have an account?
                        </span>

                        <a class="txt2" href="@Url.Action("Login", "Login")">
                            Sign In
                        </a>
                    </div>
                </form>


            </div>
        </div>
    </div>
</body>

</html>
